/** @format */
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-family: Gothem Rounded, sans-serif;
}


body {
	padding: 0;
	margin: 0;
	background: rgb(23, 45, 78);
}


canvas {
	object-fit: cover;
}
.ball-text {
	position: fixed;
	z-index: 2;
	color: aliceblue;
	font-size: 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav{
	padding: 3rem;
	display: flex;
	justify-content: center;
}

.nav-links{
	display: flex;
	list-style: none;
	gap: 3rem;
	font-size: 2.2rem;
	
}
.nav-links a{
	text-decoration: none;
	color: aliceblue;
	font-weight: bold;
}
.nav-item{
	position: relative;
}
.active-nav{
	height: 5px;
	background: rgb(227, 233, 239);
	border-radius: 1rem;
	/* margin: 0.2rem 0.5rem; */
	position: absolute;
	left: 0;
	bottom: -50;
	width: 100%;
}
section{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(6, 1fr);
	margin: 2rem 3rem;


}
.card{
	height: 15rem;
	border-radius: 1rem;
	cursor: pointer;
	border: 2px solid #ffffff55;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ffffff22;
	font-size: 1.2rem;
	grid-column: span 3;
	padding: 5rem;
	box-shadow: 0.15rem 0.15rem 0rem #000;
	gap: 2rem;
}
.card p{
	line-height: 2rem;
	display: none;

}
.card.active p{
	display: block;
}
.card.active{
	grid-column: 1 / span 6;
	grid-row: 1;
	order: 0;
	height: auto;
}
card.is-inactive{
	grid-column: span 2 ;
}

/* time picker */
.time-picker {
	position: absolute;
	display: inline-block;
	padding: 10px;
	background: #eee;
}

.time-picker__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
	border: 1px solid #ddd;
	padding: 6px 10px;
	background: #fff;
	font-family: 'heebo', sans-serif;

}